<!-- <div class="container">
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Medium User Viewer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown" >
            <a class="nav-link" >หน้าหลัก</a>

          </li>
      </ul>
      <div class="">
        <ul class=" my-2 my-lg-0 navbar-nav mr-auto">
            <ng-container *ngIf="code != null && state != null;else notsignin">
            <li class="nav-item dropdown" ngbDropdown >
                <a class="nav-link dropdown-toggle" id="dropdown01" ngbDropdownToggle>จัดการ</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
                  <a class="dropdown-item" href="#">Profile</a>
                  <a class="dropdown-item" href="#">Log out</a>
                </div>
              </li>
            </ng-container>
            <ng-template #notsignin>
              <li class="nav-item "  >
                <a class="nav-link"  [attr.href]="url">Sign in</a>
              </li>
            </ng-template>
          </ul>
        </div>
    </div>
  </nav>
</div> -->


<body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">Medium User Viewer </span>
      <span class="d-none d-lg-block">
        <!-- <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/profile.jpg" alt=""> -->
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class=" my-2 my-lg-0 navbar-nav mr-auto">
        <ng-container *ngIf="code != null && state != null;else notsignin">
          <li class="nav-item dropdown" ngbDropdown>
            <a class="nav-link dropdown-toggle" id="dropdown01" ngbDropdownToggle>จัดการ</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
              <a class="dropdown-item" href="#">Profile</a>
              <a class="dropdown-item" href="#">Log out</a>
            </div>
          </li>
        </ng-container>
        <ng-template #notsignin>
          <li class="nav-item ">
            <a class="nav-link" [attr.href]="url">Sign in</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

<ng-container *ngIf="profile != null">
  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
    <div class="my-auto">
      <h2 class="mb-5" ><a [href]="profile.url">{{profile.name}} ({{profile.username}})</a></h2>
      <div class="row">
        <div class="col-md-12">
          <img [src]="profile.imageUrl" alt="">
        </div>
      </div>

    </div>
  </section>
</ng-container>




  </div>

  <router-outlet></router-outlet>
